<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">

    <title>About</title>

</head>

<body>

 

    <div class="container">

        <div class="header">

            <div class="topnav">

                <a href="/">Home</a>

                <a href="game">Game</a>

                <a class = "active" href="about">About</a>

            </div>

        </div>

 

    <div class="about">

        <h1>About Us</h1>

 

        <p class="aboutInfo"> Have you ever wondered where to put your trash. Might seem easy at first, no? Well, how about you try clicking on the Games

            link at the top of the page to see how really convoluted this is.

        </p>

 

       

    </div>
</body>
</html>